<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 일반 피자 -->
	<bean id="pizza" class="com.user8.Pizza" scope="prototype" />
	<!-- 배지 피자 -->
	<bean id="veggiePizza" class="com.user8.Pizza" scope="prototype">
		<property name="isVeg" value="true" />
	</bean>

	<!-- 
		★ 룩업 메서드 인젝션
		컨테이너가 관리하는 빈의 메서드를 재정의하여 컨테이너에 있는 다른 빈을 찾을 수 있도록 하는 기능이다.
		1. 접근제어는 반드시 public, protected여야 한다.
		2. return type이 void가 아니다.
		3. 인잣값을 갖지 않는다.
		4. 추상 메서드로도 가능하다.
		5. final 예약어를 사용하면 재정의할 수 없으므로 사용해서는 안 된다.
	 -->
	<bean id="pizzaShop" class="com.user8.PizzaShop">
		<lookup-method name="makePizza" bean="pizza"/>
		<lookup-method name="makeVeggiePizza" bean="veggiePizza" />
	</bean>

</beans>  