<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="user1" class="com.user4.User" p:addr="서울" p:zip="111" />
	<bean id="user2" class="com.user4.User" p:addr="서울" p:zip="122" />
	<bean id="user3" class="com.user4.User" p:addr="경기" p:zip="200" />

	<bean id="userService" class="com.user4.UserServiceImpl">
		<property name="name" value="홈자바" />
		<property name="address">
			<map>
				<!-- key+value=entry -->
				<entry>
					<key><!-- key가 String형이므로 value태그로 쓸 수 있다. -->
						<value>송아</value>
					</key>
					<!-- <value>서울</value> value가 String형인 경우는 이렇게... -->
					<ref bean="user1" /><!-- 그러나 value가 User객체이므로... 왼쪽과 같이 선언 -->
				</entry>
				<entry key="혜화" value-ref="user2" />
				<entry key="우진" value-ref="user3" />
			</map>
		</property>
		<property name="hobby">
			<list>
				<!-- 고정된 값인 경우 다음과 같이 선언 -->
				<!-- String type도 value를 이용하여 담으면 된다. -->
				<value>운동</value>
				<value>영화감상</value>
				<value>음악감상</value>
				<value>여행</value>
				<value>코딩</value>
				<!-- 객체로 올 경우 <ref bean="객체명" /> 으로 선언한다. -->
			</list>
		</property>
	</bean>
	
	<bean id="userBean" class="com.user4.UserBean" ><!-- p:userService-ref="userService" -->
		<property name="userService" ref="userService"/>
	</bean>

</beans>  